body {
  background-color: whitesmoke;
  padding: 5px;
}

div {
  width: 100%;
}

.box {
  background-color: darkblue;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.box-panel {
  background-color: white;
  padding: 5px;
}