<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="box">
    <h2>Belly Button Biodiversity Dashboard</h2>
  </div>
  <hr />

  <div class="row">
    <div align="left" class="col-sm-4 col-lg-2">
      <div class='box-panel'>
        <strong>Select Sample:
          <select id='selDataset' onchange='optionChanged(this.value)'></select>
        </strong>
        <hr />
        <div id='sample-metadata' class='panel-body'></div>
      </div>
    </div>

    <div class='col-lg-5'>
      <div id='pie'></div>
    </div>

    <div class='col-lg-5'>
      <div id='bubble'></div>
    </div>
  </div>
  <hr />

  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js'></script>
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script src='{{ url_for('static', filename='js/bonus.js') }}'></script>
  <script src='{{ url_for('static', filename='js/app.js') }}'></script>

</body>

</html>